/* putting the entire body into div and flex space around */
.body-container {
    display: flex;
    justify-content: space-around;
}

/* Coffee header */
.header {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

/* forms */
.coffee-container {
    margin-right: 3em;
}

/* taking the new table and display flex center */
.table-container {
    display: flex;
    justify-content: center;
}

/* add coffee spacing */
.add-coffee {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* coffee names spacing in forms */
.coffee-name-heading {
    margin-top: .5em;
}

/* separating coffee form and coffees table */
.vl {
    border-left: 1px solid rgba(0, 0, 0, .1);
    height: 350px;
    position: absolute;
    left: 38%;
    margin-left: -3px;
    top: 105px;
}